@model IEnumerable<RedSocial.Models.Imagen>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullPath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publicacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullPath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publicacion.Texto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ImagenId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ImagenId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ImagenId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
