@model IEnumerable<RedSocial.Models.Publicacion>

@{
    ViewData["Title"] = "Index";

}
<h1 class="mimuro">Mi Muro</h1>
<p>
    <a asp-action="Create">Publicar</a>
</p>
<div class="container">
@{
int id=0;
string sId="";
int i=99;
foreach (var item in Model) {
    <div class="row rowCenter">
    
        <div class="col-12">
             @{sId="carousel"+id;}
             <div id="@sId" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    @{i=0;}
                    @foreach (var imagen in item.Imagen){
                            string cClass="";
                            if (i==0){
                                cClass="carousel-item active";
                                }
                            else
                                {
                                    cClass="carousel-item";
                                }
                                    <div class="@cClass">
                                        <img class="d-block w-100" src="@imagen.FullPath" alt="@imagen.FullPath">
                                    </div>
                                i++;
                            }
                </div>
                <a class="carousel-control-prev" href="#@sId" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#@sId" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>  
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h5>@item.Fecha</h5>
        </div>
        <div class="col-12">
            <h3>@item.Texto</h3>
        </div>
    </div>
    id++;
   }
}
</div>


<!--
<p>
    <a asp-action="Create">Create New</a>
</p>


<table class="table">
    <thead>
       
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Texto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserEmailNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
        
    <tbody>
@{
i=0;
foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Texto)
            </td>
            <td>
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    @foreach (var imagen in item.Imagen){
                            string cClass="";
                            if (i==0){
                                cClass="carousel-item active";
                                }
                            else
                                {
                                    cClass="carousel-item";
                                }
                                    <div class="@cClass">
                                        <img class="d-block w-100" src="@imagen.FullPath" alt="@imagen.FullPath">
                                    </div>
                                i++;
                            }
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PublicacionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PublicacionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PublicacionId">Delete</a>
            </td>
        </tr>
        
    }
}
    </tbody>
</table>
-->
